*
{
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header 
{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    align-items: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top:0;
    background-color: white;
    box-shadow: 0px 0pc 5px gray;
}
#logo
{
    font-family: 'Kaushan Script', cursive;
    color: #E51636;
}
.header  ul li
{
    display: inline;
    padding:0 20px;
    color:#E51636;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
}
.header ul li:hover  
{
    color:rgb(116, 9, 27);
}
.search 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.search input 
{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border: 2px solid #E51636;
    outline: none;
}
.search i 
{
    background-color: #E51636;
    padding:12px;
    color:white;
    cursor: pointer;
}
.search i:hover 
{
    background-color: red;
}
.res-container 
{
    margin: 40px 145px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.res-card 
{
    width: 220px;
    border:1px solid gray;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:7px;
}
.res-card h3 
{
    text-align: center;
    padding:0;
    margin:0;
}
.res-card:hover 
{
    box-shadow: 0px 0px 2px 2px rgb(176, 175, 175)
}
.res-card-desc 
{
    display: flex;
    justify-content: space-between;
}
#res-card-img 
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center;
}
#res-card-time 
{
    text-align: right;
    font-size: 13px;
    color: gray;
}
#rating 
{
    text-align: left;
    background-color: #24963f;
    color:white;
    padding:4px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.res-card-footer 
{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
#rating i 
{
    font-size: 12px;
}
.footer 
{
    background-color: rgb(59, 58, 58);
    color:white;
    display: flex;
    justify-content: space-around;
    padding:30px;
}
.footer-container h3
{
    margin-bottom: 20px;
    color: rgb(155, 152, 152);
}
.footer-container p:hover 
{
    text-decoration: underline;
    cursor: pointer;
}